<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dakare.radiorecord.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
            android:name=".RecordApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".player.PlayerActivity"
                  android:hardwareAccelerated="true"
                  android:theme="@style/Main.Player" />
        <activity android:name=".settings.SettingsActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.history.HistoryActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.top.TopsActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.section.SectionNewActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.section.SuperchartActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.section.MegamixActivity"
                  android:theme="@style/Main" />
        <activity android:name=".load.section.HrustalevActivity"
                  android:theme="@style/Main" />
        <activity android:name=".download.DownloadsActivity"
                  android:theme="@style/Main" />
        <activity android:name=".iap.IapActivity"
                  android:theme="@style/Main" />
        <service android:name=".player.service.PlayerService" />
        <service android:name=".download.service.FileService" />
        <provider android:authorities="com.dakare.radiorecord.app"
                  android:name=".database.provider.StorageProvider"
                  android:exported="false" />
        <receiver android:name=".widget.WidgetReceiver" android:label="Radio Record" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".widget.WidgetReceiverDark" android:label="Record Dark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".player.listener.controls.ControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="1a7969bcd6178037ed87897d9649acbe66610439" />
    </application>

</manifest>
